{
    "arrowParens": "avoid",
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 2,
    "jsxSingleQuote": true,
    "semi": false,
    "proseWrap": "always",
    "printWidth": 100,
    "plugins": ["prettier-plugin-tailwindcss"]
}